.benefits {
  display: flex;
}

.benefits-list {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--third-background-color);
}

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-desc {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
