.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: var(--third-text-color);
  margin-right: 0;
}

.main-address-item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.main-address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: Left;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address-specialty {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-address {
  margin-right: 70px;
  flex-grow: 1;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-join {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.icons-link.footer {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.icon.footer {
  fill: #ffffff;
}

.footer-subscription {
  margin-right: 0;
  margin-left: 93px;
}

.subscribe-form {
  display: flex;
  margin-top: 20px;
}

.footer-btn {
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  padding-left: 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--accent-color);
  color: var(--third-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  color: var(--third-text-color);
  &::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.icon-subscribtion {
  margin-left: 10px;
}
